body {
  display: grid;
  justify-content: center;
  background-color: hsl(204, 43%, 93%);
  font-family: "Karla", sans-serif;
  color: #fff;
  line-height: 1.6em;
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: 20em 20em;
  grid-template-rows: 15em auto 15em auto;
  padding: 7em 6em;
}

.join {
  background-color: #fff;
  grid-column: 1 / 3;
  padding: 20px;
  color: hsl(218, 22%, 67%);
  border-radius: 8px 8px 0 0;
}

.join h1 {
  color: hsl(179, 62%, 43%);
}

.join h3 {
  color: hsl(71, 73%, 54%);
}

.sub {
  background-color: hsl(179, 62%, 43%);
  padding: 10px;
  border-radius: 0 0 0 8px;
  line-height: 2em;
}
.sub p {
  padding-bottom: 10px;
}
.price {
  font-size: xx-large;
  font-weight: bold;
}
.month {
  color: hsl(204, 41%, 85%);
  padding-bottom: 5px;
}

.btn {
  background: hsl(71, 73%, 54%);
  border-radius: 5px;
  height: 40px;
  width: 85%;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: large;
  text-decoration: none;
  color: #fff;
  box-shadow: 0px 1px 10px 5px rgba(38, 162, 160, 1);
}
.btn:hover {
  background-color: hsl(71, 90%, 53%);
}

.why {
  padding: 10px;
  background-color: hsl(179, 61%, 51%);
  border-radius: 0 0 8px 0;
}
.why p {
  color: hsl(204, 41%, 85%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  .container {
    width: 90%;

    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
  }

  .join {
    border-radius: 8px 8px 0px 0px;
  }
  .join h1,
  h3,
  p {
    padding-left: 10px;
  }

  .sub {
    border-radius: 0px 0px 0px 0px;
  }
  .sub h3,
  p {
    padding-left: 10px;
  }
  .price {
    font-size: x-large;
  }
  .btn {
    padding: 10px;
  }

  .why {
    border-radius: 0px 0px 8px 8px;
  }
  .why h3,
  p {
    padding-left: 10px;
  }
}
